*, html {
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.topnav{
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: 63px;
	background-color: white;
	font-family: Karla;
	font-weight: bold;
	font-size: 20px;
	z-index:999;
}

.logo{
	display: inline-block;
	vertical-align: top;
	width: 150px;
  padding: 2px 20px;
}

.topnav a.links {
	display:inline-block;
	vertical-align: top;
	padding: 20px 30px;
	float: right;
	text-decoration: none;
	color: black;
}

.topnav a.links:hover {
	background-color: #D4B64F;
 	color: white;
}

.headers{
	padding-top: 63px;
}

.container-packages{
	position:relative;
	background-color: #DFB64F;

}

.yoga1{
	width:100vw;
  display: block;
	opacity:0.4;
}

.text-button{
	position: absolute;
	top: 30%;
	right: 32%;
	text-align: center;
	font-family: Karla;
	font-size: 5vw;
	color: white;
}

.click-here{
	background-color: #DFB64F;
	text-align: center;
	padding:5px 30px;
	font-family: Karla;
	font-size: 3vw;
	font-weight: bold;
	color:white;
	border: none;
	border-radius: 30px;
}

.click-here:hover{
	background-color: black;
	text-align: center;
	padding:5px 30px;
	font-family: Karla;
	font-size: 3vw;
	font-weight: bold;
	color:#DFB64F;
	border: none;
	border-radius: 30px;
}

.container-choose{
	position:relative;
	background-color: #DFB64F;

}

.yoga2{
	width:100vw;
  display: block;
	opacity:0.4;
}

.container-choose .text-button{
	position: absolute;
	top: 30%;
	right: 20%;
	text-align: center;
	font-family: Karla;
	font-size: 5vw;
	color: white;
}

.container-choose .click-here{
	background-color: #DFB64F;
	text-align: center;
	padding:5px 30px;
	font-family: Karla;
	font-size: 3vw;
	font-weight: bold;
	color:white;
	border: none;
	border-radius: 30px;
}

.container-choose .click-here:hover{
	background-color: black;
	text-align: center;
	padding:5px 30px;
	font-family: Karla;
	font-size: 3vw;
	font-weight: bold;
	color:#DFB64F;
	border: none;
	border-radius: 30px;
}

.featured-products .container-featured{
  float: left;
  background-color:#FAF6EC;
	width:100vw;
}

.featured-products .header-title{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
	font-family: Karla;
	font-size: 5vw;
	font-weight: bold;
	color:#DFB64F;
}

.featured-products .left{
	text-align: center;
	float:left;
	width: 50vw;
}

.featured-products .right{
	text-align: left;
	float:right;
	width: 50vw;
}

.featured-products .yogapackage {
  width: 40vw;
  padding-top: 4vh;
  padding-bottom: 5vh;
}

.featured-products .title {
	font-family: Karla;
	font-size: 3vw;
	font-weight: bold;
	color:#DFB64F;
  padding-top: 5vw;
  padding-bottom: 2vw;
}

.featured-products .text {
	font-family: Karla;
  width: 30vw;
	font-size: 1.5vw;
	color:#DFB64F;
}

.how-it-works .container-works{
  float:left;
	width:100vw;
}

.how-it-works .header-title{
  padding-top: 5vh;
	text-align: center;
	font-family: Karla;
	font-size: 5vw;
	font-weight: bold;
	color:#DFB64F;
}

.how-it-works .left{
	text-align: center;
	float:left;
	width: 30vw;
  margin-left: 4vw;
}

.how-it-works .middle{
	text-align: center;
	float:left;
	width: 30vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.how-it-works .right{
	text-align: center;
	float:left;
	width: 30vw;
  margin-right: 2vw;
}

.graphic{
	width:23vw;
}

.how-it-works .title {
	font-family: Karla;
	font-size: 3vw;
	font-weight: bold;
	color:#DFB64F;
	padding-bottom:10px;
}

.how-it-works .text {
  padding-bottom: 5vh;
	font-family: Karla;
	font-size: 1.6vw;
	color:#DFB64F;
}
